---
import WidgetWrapper from '../ui/WidgetWrapper.astro';

const { id, content = await Astro.slots.render('content') } = Astro.props;
---

<Fragment>
  <WidgetWrapper id={id}>
    <div class="text-center mt-24">
      <p class="text-6xl md:text-7xl lg:text-8xl">
        get your tickets<span class="hidden md:inline-block">,</span>
      </p>
      <p class="hidden md:block md:text-7xl lg:text-8xl">while <span class="text-accent">you can</span></p>
      <p class="text-xl md:text-xl lg:text-2xl mt-8">we go live in:</p>
    </div>
    <div class="mx-auto max-w-7xl p-4 md:px-8">
      {content && <div set:html={content} class="flex flex-col items-center" />}
    </div>
  </WidgetWrapper>
</Fragment>
