---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import StickyItems from '~/components/widgets/StickyItems.astro';
import EventPartners from '~/components/widgets/EventPartners.astro';
import Contact from '~/components/widgets/Contact.astro';
import { CountdownActions } from '~/components/ui/CountdownActions';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { ParallaxImageGrid } from '~/components/widgets/ParallaxImageGrid';
import ImageGridImages from '~/components/widgets/ImageGridImages.astro';

const metadata = {
  title: 'Spirit of Mixology — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title">
      <div>Spirit of <span class="text-accent">Mixology</span></div>
      <div class="text-6xl hidden md:block">Cocktail Festival</div>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Embark on a journey of mixology mastery at our spectacular <b class="text-accent">Cocktail Festival</b>! Join us
        for an unforgettable weekend filled with carefully crafted cocktails, live music, and vibrant energy.
      </span>
      <span class="inline sm:hidden">
        Get ready to raise your glasses and embark on a journey of mixology mastery at our spectacular <b
          class="text-accent">Cocktail Festival</b
        >!
      </span>
    </Fragment>
    <Fragment slot="date">
      <div class="mb-4">
        <div>12pm-4:30pm</div>
        <div>Saturday 8th June</div>
        <span>@ <a href="https://www.erricks.com/" class="underline">Errick's</a>, Dunedin</span>
      </div>
    </Fragment>
    <Fragment slot="countdownActions">
      <CountdownActions client:load />
    </Fragment>
    <Fragment slot="imageGrid">
      <ParallaxImageGrid client:only><ImageGridImages /></ParallaxImageGrid>
    </Fragment>
  </Hero>

  <StickyItems id="event-info">
    <Fragment slot="content">Event info</Fragment>
  </StickyItems>

  <EventPartners id="vendors">
    <Fragment slot="content">Vendors</Fragment>
  </EventPartners>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>

  <Contact id="contact" title="Let's chat">
    <Fragment slot="subtitle"
      ><p>We'd love to hear from you! Send us a message at</p><a
        class="text-white underline"
        href="mailto:jaz@alchemistmixology.co.nz">jaz@alchemistmixology.co.nz</a
      ><p>and we'll get back to you as soon as possible.</p></Fragment
    ></Contact
  >
</Layout>
