---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';
import '@fontsource/concert-one';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<style>
  @font-face {
    font-family: 'Trash';
    src: url('/fonts/trash-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

<Layout metadata={metadata}>
  <!-- bg section -->
  <div
    class="mix-blend-difference z-50 w-full h-screen fixed flex top-0 bottom-0 right-0 left-0 justify-center pointer-events-none"
  >
    <div class="w-full h-[10rem] opacity-30 justify-center flex fixed bottom-0 blur-[128rem] md:blur-[256rem]">
      <div class="h-[200%] rounded-full bg-accent w-full md:w-4/5"></div>
    </div>
    <div
      bg-texture="tiles"
      class="opacity-10 w-full h-full flex absolute top-0 bottom-0 left-0 right-0 bg-[url('public/grain.webp')] bg-[length:250px_250px] pointer-events-none animate-scroll-down"
    >
    </div>
  </div>
  <!-- /bg section -->
  <slot name="header">
    <Header {...headerData} isSticky />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
